.header-container {
    display: flex;
    background-color: rgb(246, 229, 229);
}

.header {
    width: 75%;
    position: relative;

}

/* .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

.summery-container {
    width: 30%;
    height: 70%;
    background-color: rgb(244, 202, 188);
    position: sticky;
}